*{   
    margin:0;  
    padding:0;  
    }  
    .titulo{ 
    background-color:#92a8d1; 
    margin: 20px;  
    } 
    .parrafo{    
    background-color: green;  
    padding-top:50px;  
    padding-left: 10px;   
    padding-bottom: 60px;   
    padding-right: 300px;  
    }      
    footer{ 
        background-color: GoldenRod;  
        padding: 10px 20px 30px 40px;  
        margin: 10px 200px;  
        }  
    .menu{
        color: red;

    }

/*p {
    font-family: Verdana;
    text-align: justify; 
    color: rgb(103, 84, 84);
    font-size: 24px; 
    font-style: italic; 
    font-weight: bold; 
}

body {
    background-color: rgb(178, 226, 243);
}

.boton {
    background-color: rgb(223, 228, 150);
    color: rgb(16, 144, 236);
}

button:hover {
    background-color: rgb(223, 55, 164);
}

h1 {
    color: rgb(19, 17, 17);
    font-weight: bold; 
    text-align: center; 
}
.centrado-negrita-cursiva {
    text-align: center;
    font-weight: bold;  
    font-style: italic; 
}

.estilo{
    text-align: center;
    color: black;
}

.contenedor{
    width: 80%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: azure;
}
*/
    
/*body{
    font-size: 16px;
    font-weight: bold;
    color: rgb(71, 5, 5);
}
.boton{
    background-color: rgb(223, 228, 150);
    color: rgb(236, 16, 16);
}
button:hover{
    background-color: rgb(55, 162, 223);
}

.container section{
    display: flex;
    flex-direction: column;
    align-items: center;
}*/